<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Data Analysis</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin-left: 5px;
        padding-left: 5px;
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1,
      h2,
      h3 {
        text-align: center;
        color: #333;
      }

      form {
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 8px;
      }

      input[type="text"],
      input[type="password"],
      select {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
      }

      button:hover {
        background-color: #45a049;
      }

      #analysis {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border: 3px solid #000000;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #000000;
        vertical-align: top;
      }

      th {
        background-color: #f2f2f2;
        border-right: 3px solid #000000;
      }

      td {
        border-right: 3px solid #000000;
      }
    </style>
  </head>
  <body>
    <div class="container" id="login-container">
      <h1>Login</h1>
      <form id="login-form">
        <label for="user-type">User Type:</label>
        <select id="user-type" name="user_type">
          <option value="guest">Guest</option>
          <option value="admin">Admin</option>
        </select>
        <div id="admin-password" style="display: none">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>

    <div id="upload" style="display: none">
      <h1>Game Data Analysis</h1>

      <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="csv-file" name="file" />
        <button type="submit">Upload CSV from system</button>
      </form>
      <br />
      <form id="csvForm">
        <label for="csv_link">CSV Link:</label>
        <input
          type="text"
          id="csv_link"
          name="csv_link"
          placeholder="Insert .csv or directly downloadable CSV public link"
          required
        />
        <button type="submit">Fetch CSV</button>
      </form>
    </div>

    <div id="analysis" style="display: none">
      <h2>Query Analysis</h2>
      <label for="column-select">Select Column:</label>
      <select id="column-select"></select>

      <div id="filter-container">
        <label for="filter-value">Filter Value:</label>
        <input type="text" id="filter-value" />
        <label for="filter-operator">Filter Operator:</label>
        <select id="filter-operator">
          <option value="eq">Equal to</option>
          <option value="gt">Greater than</option>
          <option value="lt">Less than</option>
          <option value="gte">Greater than or equal to</option>
          <option value="lte">Less than or equal to</option>
        </select>
        <button type="button" onclick="queryData()">Filtered Query</button>
      </div>

      <div id="agg-container" style="display: none">
        <label for="agg-function">Aggregate Function:</label>
        <select id="agg-function">
          <option value="sum">Sum</option>
          <option value="max">Max</option>
          <option value="min">Min</option>
          <option value="mean">Mean</option>
        </select>
      </div>

      <button type="button" onclick="aggregateData()">
        Aggregate Data Query
      </button>

      <div id="results"></div>
    </div>

    <script>
      document
        .getElementById("user-type")
        .addEventListener("change", function () {
          const userType = document.getElementById("user-type").value;
          const adminPassword = document.getElementById("admin-password");
          if (userType === "admin") {
            adminPassword.style.display = "block";
          } else {
            adminPassword.style.display = "none";
          }
        });

      document
        .getElementById("login-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const userType = document.getElementById("user-type").value;
          const password = document.getElementById("password").value;

          fetch("http://localhost:5000/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_type: userType, password: password }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                document.getElementById("login-container").style.display =
                  "none";
                document.getElementById("upload").style.display = "block";
                populateColumns();
              } else {
                alert("Login failed: " + data.message);
              }
            })
            .catch((error) => console.error("Error:", error));
        });

      document
        .getElementById("upload-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const fileInput = document.getElementById("csv-file");
          const file = fileInput.files[0];
          const formData = new FormData();
          formData.append("file", file);

          fetch("http://localhost:5000/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                alert(data.message);
                showAnalysisForms();
                populateColumns();
              } else if (data.error) {
                alert("Error: " + data.error);
              }
            })
            .catch((error) => console.error("Error:", error));
        });

      document
        .getElementById("csvForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const csvLink = document.getElementById("csv_link").value;

          fetch("http://localhost:5000/upload_csv_from_link", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ csv_link: csvLink }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                alert("CSV uploaded successfully from link!");
                showAnalysisForms();
                populateColumns();
              } else {
                alert("Upload failed: " + data.error);
              }
            })
            .catch((error) => console.error("Error:", error));
        });

      function showAnalysisForms() {
        document.getElementById("analysis").style.display = "block";
      }

      function populateColumns() {
        fetch("http://localhost:5000/columns")
          .then((response) => response.json())
          .then((columns) => {
            const columnSelect = document.getElementById("column-select");
            columnSelect.innerHTML = "";

            columns.forEach((column) => {
              const option = document.createElement("option");
              option.value = column;
              option.textContent = column;
              columnSelect.appendChild(option);
            });

            columnSelect.addEventListener("change", function () {
              const selectedColumn = columnSelect.value;
              const filterContainer =
                document.getElementById("filter-container");
              const aggContainer = document.getElementById("agg-container");

              const isNumericType = [
                "AppID",
                "Requiredage",
                "Price",
                "DLCcount",
                "Positive",
                "Negative",
                "Scorerank",
              ].includes(selectedColumn);

              if (isNumericType) {
                filterContainer.style.display = "block";
                aggContainer.style.display = "block";
              } else {
                filterContainer.style.display = "block";
                aggContainer.style.display = "none";
              }
            });

            columnSelect.dispatchEvent(new Event("change"));
          })
          .catch((error) => console.error("Error:", error));
      }

      function queryData() {
        const filterColumn = document.getElementById("column-select").value;
        const filterValue = document.getElementById("filter-value").value;
        const filterOperator = document.getElementById("filter-operator").value;

        if (filterColumn && filterValue) {
          const queryParams = new URLSearchParams({
            query_type: "select",
            [filterColumn]: filterValue,
            filter_operator: filterOperator,
          });

          fetch(`http://localhost:5000/query?${queryParams.toString()}`)
            .then((response) => response.json())
            .then((data) => {
              const resultsDiv = document.getElementById("results");
              resultsDiv.innerHTML = "";
              const table = document.createElement("table");
              const headerRow = document.createElement("tr");

              if (data.length > 0) {
                Object.keys(data[0]).forEach((key) => {
                  const th = document.createElement("th");
                  th.textContent = key;
                  headerRow.appendChild(th);
                });
                table.appendChild(headerRow);
              }

              data.forEach((record) => {
                const row = document.createElement("tr");
                Object.values(record).forEach((value) => {
                  const td = document.createElement("td");
                  td.textContent = value;
                  row.appendChild(td);
                });
                table.appendChild(row);
              });

              resultsDiv.appendChild(table);
            })
            .catch((error) => console.error("Error:", error));
        } else {
          alert("Please enter filter column, value, and operator");
        }
      }

      function aggregateData() {
        const aggColumn = document.getElementById("column-select").value;
        const aggFunction = document.getElementById("agg-function").value;

        if (aggColumn && aggFunction) {
          const queryParams = new URLSearchParams({
            query_type: "aggregate",
            agg_column: aggColumn,
            agg_function: aggFunction,
          });

          fetch(`http://localhost:5000/query?${queryParams.toString()}`)
            .then((response) => response.json())
            .then((data) => {
              const resultsDiv = document.getElementById("results");
              resultsDiv.innerHTML = "";

              const result = data[0].result;
              const p = document.createElement("p");
              p.textContent = `${aggFunction.toUpperCase()}(${aggColumn}): ${result}`;
              resultsDiv.appendChild(p);
            })
            .catch((error) => console.error("Error:", error));
        } else {
          alert("Please select both aggregate function and column");
        }
      }
    </script>
  </body>
</html>
